.App{
  overflow: hidden;
  background-color: #1B1B33;
  height: 100%;
  white-space: nowrap;
  width: 100%;
  position: absolute;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 0% auto 0%;
  grid-template-areas: 
  "initialHeader"
  "initalContent"
  "initialFooter";
}

.initialHeader{
  grid-area: initialHeader;
}

.initialContent{
  grid-area: initalContent;
  display: grid;
}

.initialFooter{
  grid-area: initialFooter;
}

