#aOrderModal {
    height               : 70%;
    width                : 85%;
    display              : grid;
    grid-template-columns: 100%;
    grid-template-rows   : 92% auto;
    grid-template-areas  :
        "aOrderItem"
        "aOrderButton";
}

.aOrderItem {
    grid-area      : aOrderItem;
    display        : flex;
    flex-direction : row;
    flex-wrap      : wrap;
    justify-content: flex-start;
    overflow-y     : auto;
}

.aOrderButton {
    grid-area      : aOrderButton;
    display        : flex;
    align-content  : center;
    justify-content: center;
}

#orderApproveBtn,
#orderDeniedBtn {
    margin-bottom: 0.5%;
    margin-left  : 4%;
    font-size    : 1.2rem;
    font-weight  : 500;
}