.Products {
    position             : relative;
    display              : grid;
    height               : 100%;
    width                : 100%;
    grid-template-columns: 100%;
    grid-template-rows   : 8% auto;
    grid-template-areas  :
        "pNavigation"
        "pProducts";
}

.pNavigation {
    grid-area            : pNavigation;
    display              : grid;
    width                : 100%;
    margin-bottom        : 2px;
    grid-template-columns: 50% auto;
    grid-template-rows   : 100%;
    grid-template-areas  : "divViewProducts divAddProduct";
    background-color     : #3f51b5;

}

#divViewProducts {
    display        : flex;
    grid-area      : divViewProducts;
    justify-content: center;
    align-items    : center;
    text-decoration: none;
    border         : solid white 8px;
}

#divAddProduct,#divViewProducts{
    font-size: 1.2em;
    font-weight: 500;
}

#divAddProduct {
    grid-area      : divAddProduct;
    display        : flex;
    justify-content: center;
    align-items    : center;
    text-decoration: none;
    border         : solid white 8px;
}

#viewProduct,
#addProduct {
    color      : #fff;
    font-weight: 600;
    font-size  : 1.2em;
}

.pProducts {
    grid-area      : pProducts;
    display        : flex;
    justify-content: center;
    align-items    : center;
}

.addNewProduct {
    display      : inline-block;
    height       : 90%;
    width        : 30%;
    border       : solid 2px rgba(77, 76, 76, 0.281);
    border-radius: 5px;
    text-align   : center;
}

#anpLabel {
    display    : inline-block;
    font-weight: 600;
    font-size  : 2rem;
    margin-top : 5%;
}

.anpForm {
    position           : relative;
    display            : flex;
    /* background-color: turquoise; */
    top                : 5%;
    height             : 70%;
    flex-direction     : column;
    justify-content    : space-evenly;
}

#anproductNameDiv,
#anproductCategoryDiv,
#anproductQuantityDiv,
#anproductPriceDiv,
#anproductBtnDiv {
    display    : inline-block;
    width      : 80%;
    margin-left: 10%;
}


#anpButtons {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#anpCancel,
#anpCreate {
    font-size: 1.2em;
}

